.formUser{
    background-color: #000;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
}
.formUser input{
    border: none;
    color: #000;
}
.formUser button{
    color: #000;
    border: none;
    background-color: purple;
}
.info{
    background-color: blue;
    color: #fff;
    width: 600px;
}