@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Zen+Dots&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Wix+Madefor+Display&family=Zen+Dots&display=swap');

.info {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logo{
    margin: 0 auto;
    font-size: 1.5em;
    margin-top: 4em;
}
.logo h1{
    font-family: 'Audiowide', Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}
.logo p{
    font-family: 'Wix Madefor Display', Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.user_info{
    margin: 0 auto;
    margin-top: 5em;
    font-size: 1.3em;
    margin-bottom: 3em;
}
.user_info input{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: 1px solid #fff;
    padding: 8px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 10px 0 0 10px;
    outline: none;
    width: 200px;
    font-size: 0.8em;
}

.user_info h3{
    font-family: 'Wix Madefor Display', Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}
.info button{
    border: 1px solid purple;
    background-color:purple;
    padding: 11px;
    border-radius: 0 10px 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: .3s;
}
.info button:hover{
    background-color: transparent;
    border: 1px solid purple;
    
}
@media screen and (max-width:720px) {
    .logo{
        margin-top: 6em;
    }
    .logo p{
        text-align: center;
        font-size: 0.8em;
    }
    .user_info input{
        margin-left: 20px;
    }
    .user_info h3{
        font-size: 0.9em;
    }
    
}