@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Wix+Madefor+Display&family=Zen+Dots&display=swap');
.user{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    background-color: #010409;
    border-radius: 10px;
    color: #fff;
    width: 600px;
    margin-bottom: 20px;
}
.user img{
    margin: auto;
    margin-top: 30px;
    border-radius: 50%;
    width: 250px;
}
.user h2{
    margin: auto;
    font-family: 'Wix Madefor Display', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.user span{
    font-family: 'Wix Madefor Display', Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: flex;
    margin: auto;
    align-items: center;
}
.user p{
    font-family: 'Wix Madefor Display', Arial, Helvetica, sans-serif;
    margin: 5px;
}
.user ul{
    display: flex;
    justify-content: center;
  
}
.user li{
    list-style: none;
    background-color: purple;
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
    font-family: 'Wix Madefor Display', Arial, Helvetica, sans-serif;
    
}
.user button{
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    margin: auto;
    background-color: transparent;
    border: 1px solid purple;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Wix Madefor Display', Arial, Helvetica, sans-serif;
    transition: .4s;
}
.user button:hover{
    background-color: purple;
}
.section_repos{
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
}
.section_repos a{
    font-family: 'Wix Madefor Display', Arial, Helvetica, sans-serif;
    margin: auto;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid purple;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    padding: 5px;
    transition: .4s;
}
.section_repos span{
    color: #ffffff83;
}
.section_repos p {
    size: 16px;
}
.section_repos a:hover{
    background-color: purple;
    
}
@media screen and (max-width:720px) {
    .user{
        width: 300px;
    }
    
}